[Unit]
BindsTo=%i.device
After=%i.device

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStartPre=-/usr/lib/kvmd/kvmd-ucamera-prepare --device=%f
ExecStart=/usr/bin/ucamera --device=%f
