.hidden.window#stream-ocr-window
	.hidden#stream-ocr-selection

.hidden.window.window-elegant.window-resizable#stream-window(data-wm-window-show-maximized data-wm-organize-hook)
	.window-header#stream-window-header
		.window-grab MJPEG
		.window-buttons
			button.window-button-full-screen &#10530;
			button.window-button-full-tab &#9650;
			button.window-button-original &bull;
			button.window-button-maximize &#9744;
			button.window-button-close &#10005;

	#stream-info

	.stream-box-offline#stream-box
		#stream-keyboard-magic
		img#stream-image(src=`${png_dir}/blank-stream.png`)
		video.hidden#stream-video(disablePictureInPicture="true" autoplay playsinline muted)
		canvas.hidden#stream-canvas
		#stream-fullscreen-active
