.hidden.window#stream-ocr-window
	.hidden#stream-ocr-selection

.hidden.window.window-elegant.window-resizable#stream-window(data-wm-window-show-maximized data-wm-organize-hook)
	.window-header#stream-window-header
		.window-grab MJPEG
		.window-buttons
			button(data-wm-window-set-full-screen)
			button(data-wm-window-set-full-tab)
			button(data-wm-window-set-original)
			button(data-wm-window-set-maximized)
			button(data-wm-window-close)

	.stream-box-offline#stream-box
		#stream-keyboard-magic
		img#stream-image(src=`${png_dir}/blank-stream.png`)
		video.hidden#stream-video(disablePictureInPicture="true" autoplay playsinline muted)
		canvas.hidden#stream-canvas
		#stream-fullscreen-active
