.hidden.window.window-elegant#mouse-window(
	data-wm-window-always-on-top
	data-wm-window-save-position
	data-wm-window-always-on-screen
	data-wm-window-show-centered
)
	.window-header
		.window-grab Mouse
		.window-buttons
			button.hidden#mouse-window-navbar-button(data-wm-navbar-show data-wm-on-full-tab)
			button#mouse-window-keyboard-button(data-wm-window-show="keyboard-window")
				img.led-gray(src=`${svg_dir}/led-hid-keyboard.svg`)
			button(data-wm-window-close)

	.keypad#mouse-buttons(align="center")
		.keypad-block
			.keypad-row
				.key.wide-1.left.rounded-left(data-keypad-code="left" data-keypad-allow-autohold)
					.label #[b &bull;]#[br]Left
				.key.wide-1.rounded-none(data-keypad-code="middle" data-keypad-allow-autohold)
					.label #[b &bull;]#[br]Mid
				.key.wide-1.right.rounded-right(data-keypad-code="right" data-keypad-allow-autohold)
					.label #[b &bull;]#[br]Right
			.keypad-row(style="display: none;")
				.key.small.rounded-left(data-keypad-code="up" data-keypad-allow-autohold)
					.label #[b &bull;]#[br]Up
				.key.small.rounded-right(data-keypad-code="down" data-keypad-allow-autohold)
					.label #[b &bull;]#[br]Down
